@font-face {
  font-family: 'Josefin';
  src: url('../fonts/JosefinSans-Regular.ttf');
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'PoppinsLight';
  src: url('../fonts/Poppins-Light.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'JosefinLight';
  src: url('../fonts/JosefinSans-Light.ttf');
}

* {
  font-family: 'Josefin', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}


