.recent {
  padding-top: 106px;
  padding-bottom: 125px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 68px;

    @media (max-width: 1090px) {
      & {
        flex-direction: column;
        gap: 30px;
      }
    }

    &__title {
      font-weight: 700;
      font-size: 36px;
      color: rgba(255, 255, 255, 0.75);
    }

    &__options {
      display: flex;
      align-items: center;


      &__arrows {
        margin-left: 35px;
        display: flex;
        align-items: center;
        gap: 27px;

        img {
          cursor: pointer;
        }
      }
    }
  }
}