.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.75);
  background: none;
  border: 0;
  cursor: pointer;

  &:hover>img {
    animation: anim 1s normal;
  }

  img {
    margin-left: 12px;
  }

  @keyframes anim {
    0% {
      margin-left: 12px;
    }

    50% {
      margin-left: 48px;
    }
    100% {
      margin-left: 12px;
    }
  }
}