.features__card {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  width: 255px;
  user-select: none;


  &__info {
    padding: 14px;

    &__title {
      padding-bottom: 12px;
      font-weight: 600;
      font-size: 18px;
      line-height: 18px;
      color: rgba(255, 255, 255, 0.75);
    }

    &__suptitle {
      font-weight: 400;
      font-size: 12px;
      text-transform: capitalize;
      color: rgba(255, 255, 255, 0.6);
    }

    &__price {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 20px;


      p {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        text-transform: capitalize;
        color: #FFFFFF;
      }

      &__text {
        display: flex;
        align-items: center;

        span {
          font-family: 'Poppins', sans-serif;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: #FFFFFF;
          margin-left: 5px;
        }
      }
    }
  }


  &__buy {
    padding: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      font-family: 'Montserrat', sans-serif;
      padding: 5px 17px;
      border: 0;
      cursor: pointer;
      text-transform: uppercase;
      background: #FDC500;
      border-radius: 3px;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      color: #000000;
    }
  }


}